:root {
  --pixel-size: 3;
}

* {
  margin: 0px;
  box-sizing: border-box;
}
a,
button {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
      14 0,
    pointer !important;
}
/* .nes-btn:active:not(.is-disabled)::after { */
/* box-shadow: inset 4px 4px #adafbc; */
/* } */

li {
  list-style-type: none;
  opacity: 0.5;
  position: relative;
}
.selected::before {
  position: absolute;
  top: 2px;
  left: -20px;
  content: "";
  width: 2px;
  height: 2px;
  color: #212529;
  box-shadow: 2px 2px, 4px 2px, 2px 4px, 4px 4px, 6px 4px, 8px 4px, 2px 6px,
    4px 6px, 6px 6px, 8px 6px, 10px 6px, 2px 8px, 4px 8px, 6px 8px, 8px 8px,
    10px 8px, 12px 8px, 2px 10px, 4px 10px, 6px 10px, 8px 10px, 10px 10px,
    2px 12px, 4px 12px, 6px 12px, 8px 12px, 2px 14px, 4px 14px;
}
#coors {
  color: white;
}
#canvasBox {
  /* border: 1px solid red; */
  position: absolute;
  /* border: 10px solid #365f9a; */
  /* background: #365f9a; */
  /* border-radius: 10px; */
}
canvas {
  vertical-align: middle;
  /* border-radius: 10px; */
}
#menuLayer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: white;
  z-index: 100;
  filter: brightness(0);
  opacity: 0;
  transition: all 1.5s;
}
#menuLayer.show {
  filter: brightness(1);
  opacity: 1;
}
#mainMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#controller {
  height: 50%;
  padding: 10px;
  border-radius: 10px;
}
#controller > div {
  border-radius: 10px;
  overflow: hidden;
  border: 10px solid white;
}
.controller_left {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.controller_left button {
  /* width: calc(50vw / 15); */
  /* height: calc(50vw / 15); */
  width: 100%;
  height: 100%;
  /* background-color: black; */
  position: relative;
  padding: 0px;
  /* border-radius: 5px;

  box-shadow: 2px 2px 0px 0px black;
  transform: translate(-1px, -1px); */
}
/* .controller_left button:active {
  box-shadow: 2px 2px 0px 0px black inset;
  transform: translate(0px, 0px);
} */
/* .controller_left button::before {
  content: "";
  width: 80%;
  height: 80%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 50%
  );
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
/* .controller_left button:active::before {
  content: "";
  width: 80%;
  height: 80%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 50%
  );
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 2px);
  left: calc(50% - 2px);
  transform: translate(-50%, -50%);
} */
.controller_left .arrow-container {
  width: calc(50vw / 3 - 1vw);
  height: calc(50vw / 3 - 1vw);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.controller_left .controller_btn:first-child {
  grid-column: 2;
}
.controller_left .controller_btn:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.controller_left div:nth-child(3) {
  grid-column: 2;
  grid-row: 2;

  background: white;
  box-shadow: 1px 1px white;
  z-index: 10;
}
.controller_left .controller_btn {
  background-color: whites;
}

.controller_left .controller_btn:nth-child(4) {
  grid-column: 3;
  grid-row: 2;
}
.controller_left .controller_btn:nth-child(5) {
  grid-column: 2;
  grid-row: 3;
}
.controller_left .controller_btn:first-child button:after {
  /* border-radius: 5px 5px 0px 0px; */
  box-shadow: inset -4px 0px #adafbc;
}
.controller_left .controller_btn:nth-child(2) button:after {
  box-shadow: inset 0px -4px #adafbc;
}
.controller_left .controller_btn:first-child button {
  /* border-radius: 5px 5px 0px 0px; */
  border-bottom: none;
}
.controller_left .controller_btn:nth-child(2) button {
  border-right: none;
}
.controller_left .controller_btn:nth-child(4) button {
  border-left: none;
}
.controller_left .controller_btn:nth-child(5) button {
  border-top: none;
}
.controller_center {
  background-color: black;

  height: 100%;
}
.controller_right {
  background-color: #202020;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.controller_right button {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  color: #fff;
  background-color: #e76e55;
  box-shadow: 2px 2px 0px 0px black;
  transform: translate(-1px, -1px);
}
.controller_right button:active {
  background-color: black;
  box-shadow: 2px 2px 0px 0px black inset;
  transform: translate(0px, 0px);
}
.controller_right .button_ctn {
  width: calc(50vw / 9);
  height: calc(50vw / 9);
  padding: 5%;
  background-color: white;
  border-radius: 5px;
  position: relative;
}
.controller_right .button_ctn:nth-child(1) {
  margin-right: 10%;
}
.button_ctn:first-child:after {
  content: "A";
  position: absolute;
  right: 0;
  top: calc(100% + 5px);
  color: #e76e55;
  font-size: 0.75rem;
}
.button_ctn:last-child:after {
  content: "B";
  position: absolute;
  right: 0;
  top: calc(100% + 5px);
  color: #e76e55;
  font-size: 0.75rem;
}
/* //TEMP */
.controller_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.controller_btn button {
  margin: auto;
}
/* TEMP */
#instruction {
  height: 50%;
  background-color: lightcoral;
}

/*  Game */
#root {
  min-width: 100%;
  min-height: 100vh;
  background: black;
}
#mapContainer {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  /* background: #5fa0d8; */
  background: black;
  position: relative;
  overflow: hidden;
}

.Character {
  /* width: calc(32px * var(--pixel-size)); */
  /* height: calc(32px * var(--pixel-size)); */
  height: calc(192px / 4);
  width: 32px;
  overflow: hidden;
  position: absolute;
  /* top:calc(50% - 32px);
  left:50%; */

  top: calc(50% - 32px / 2);
  left: calc(50%);

  transform: translate(-50%, -50%);
}
.NPC {
  width: calc(32px * (var(--pixel-size) - 1));
  height: calc(32px * (var(--pixel-size) - 1));
  overflow: hidden;
  position: absolute;
  transform: translate(-25%, -25%);
}
.NPC img {
  width: 100%;
  /* max-width: 100%; */
}
.moving {
  transform: translate3d(-75%, 0, 0);
  animation: moveSpritesheet 1s steps(4) infinite;
}
.Character_spritesheet {
  /* width: calc(32px * var(--pixel-size)); */
  top: 0;
  position: absolute;
}
.Character_shadow {
  position: absolute;
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
}

.pixelart {
  image-rendering: pixelated;
}

.face-right {
  top: -97px;
}
.face-up {
  top: -145.5px;
}
.face-left {
  top: -48.5px;
}
.chat-box {
  position: absolute;
  transition: 0.3s;
  transform: translateY(-100%) scale(1);
  z-index: 100;
  max-width: 50%;
  font-size: 0.5em;
  padding: 5px;
}
.hide {
  transform: translateY(0) scale(0);
  transform-origin: left bottom;
}
.selected {
  opacity: 1;
}

@keyframes moveSpritesheet {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
.h-100vh {
  height: 100vh;
}
.py-10px {
  padding-top: 10px;
  padding-bottom: 10px;
}
*:not(input):not(textarea) {
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}
@media screen and (max-width: 767px) {
  .controller_left .arrow-container {
    width: calc(100vw / 3 - 20px);
    height: calc(100vw / 3 - 20px);
  }
  .controller_right .button_ctn {
    width: calc(100vw / 9);
    height: calc(100vw / 9);
  }
}
