.mainMenu_actions button {
  margin-left: 20px;
  min-width: 100px;
}
.mainMenu_avatar {
  width: 30%;
  border: 5px solid black;
}
.mainMenu_contact {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  max-height: 100vh;
  transition: all 0.3s;
}
.mainMenu_contact:last-child {
  margin-bottom: 0px;
}

.mainMenu_contact a {
  margin-left: 20px;
  color: black;
}
p,
a,
#mainMenu li {
  font-size: 1rem;
}

#mainMenu li {
  margin-bottom: 16px;
  display: block;
}
.click_to_show {
  display: none;
}
/* .mainMenu_profile .menu_collapse hr {
  display: none;
} */

#experienceMenu .company-logo {
  max-width: 165px;
}
#experienceMenu li {
  opacity: 1;
}
#experienceMenu dl {
  margin-left: 20px;
}
#experienceMenu dd {
  color: #5c5b5b;
  margin-bottom: 30px;
}
#eperienceMenu .project {
  padding-bottom: 20px;
}
#experienceMenu .company-container {
  max-height: 75vh;
  overflow: auto;
}
.is-sticky {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
}
#experienceMenu .company > div:first-child {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  p,
  a,
  span,
  dd,
  #experienceMenu li,
  #mainMenu li {
    font-size: 0.75rem;
  }
  .mainMenu_contact .nes-icon.is-medium {
    margin-right: 16px;
    margin-bottom: 16px;
    transform: scale(2);
  }
  /* .mainMenu_actions{
      position: fixed;
  } */
  #menuLayer #mainMenu .nes-container > div {
    overflow: auto;
    /* transition: 1.3s;
    transition-timing-function: linear; */
    max-height: 100vh;
  }
  .menu_collapse {
    max-height: 0 !important;
  }

  .menu_collapse + .click_to_show {
    display: block;
  }
  .mainMenu_profile .menu_collapse {
    max-height: 100vh !important;
  }
  .mainMenu_profile .menu_collapse .mainMenu_contacts {
    max-height: 0;
    overflow: hidden;
  }
  #experienceMenu .company-logo {
    max-width: 100px;
  }
  #experienceMenu .project {
    text-align: center;
  }

  #experienceMenu .project li {
    margin: 10px 0px;
  }
  #experienceMenu .project > a:first-child {
    margin-bottom: 0px !important;
  }
  #experienceMenu .project dd {
    text-align: left;
  }

  #experienceMenu .menu-actions {
  }
}
